<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="navigation-header">
    <div class="navigation-max-width">
      <img alt="logo" src="/playground_assets/logo1-1200w.png" />
      <div class="navigation-nav">
        <nav class="navigation-links-nav navigation-links-root-class-name17">
          <span class="navigation-links-text Navigation-Link">
            <span>Home</span>
          </span>
          <span class="navigation-links-text1 Navigation-Link">
            <span>About</span>
          </span>
          <span class="navigation-links-text2 Navigation-Link">
            <span>Portofolio</span>
          </span>
          <span class="navigation-links-text3 Navigation-Link">
            <span>Blog</span>
          </span>
        </nav>
        <button class="button-secondary button button-md">
          <span>Get in touch</span>
        </button>
      </div>
      <div data-role="BurgerMenu" class="navigation-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navigation-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-role="MobileMenu" class="mobile-menu">
        <div class="navigation-nav1">
          <div class="navigation-container">
            <img alt="image" src="/playground_assets/logo1-1200w.png" />
            <div
              data-role="CloseMobileMenu"
              class="navigation-close-mobile-menu"
            >
              <svg viewBox="0 0 1024 1024" class="navigation-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav class="navigation-links-nav navigation-links-root-class-name18">
            <span class="navigation-links-text Navigation-Link">
              <span>Home</span>
            </span>
            <span class="navigation-links-text1 Navigation-Link">
              <span>About</span>
            </span>
            <span class="navigation-links-text2 Navigation-Link">
              <span>Portofolio</span>
            </span>
            <span class="navigation-links-text3 Navigation-Link">
              <span>Blog</span>
            </span>
          </nav>
          <button class="button-secondary button button-md">
            <span>Get in touch</span>
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
