<div>
  <link href="./portofolio-card.css" rel="stylesheet" />
  <div class="portofolio-card-speaker-card">
    <div class="portofolio-card-image-container">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxwZW9wbGV8ZW58MHx8fHwxNjQzNzA1NTEx&ixlib=rb-1.2.1&w=300"
        class="portofolio-card-image"
      />
      <div class="portofolio-card-see-project-container">
        <button class="button-secondary-white button button-md">
          See project
        </button>
      </div>
    </div>
    <span class="portofolio-card-first-name">
      <span>Office Life Campaign - Boost your creativity</span>
    </span>
  </div>
</div>
