<div>
  <link href="./services-card.css" rel="stylesheet" />
  <div class="services-card">
    <div class="services-card-container">
      <img
        alt="image"
        src="/playground_assets/website-200h.png"
        class="services-card-image"
      />
    </div>
    <span class="services-card-text"><span>Website design</span></span>
    <span class="services-card-text1">
      <span>
        Create your ubest unique App development, crafted for your business
        needs.
      </span>
    </span>
    <span class="services-card-text2"><span>Learn more</span></span>
  </div>
</div>
